@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======== stream css overrides ======== */
.str-video__call-stats {
  max-width: 500px;
  position: relative;
}

.str-video__speaker-layout__wrapper {
  max-height: 700px;
}

.str-video__participant-details {
  color: white;
}

.str-video__menu-container {
  color: white;
}

.str-video__notification {
  color: white;
}

.str-video__participant-list {
  background-color: #1c1f2e;
  padding: 10px;
  border-radius: 10px;
  color: white;
  height: 100%;
}

.str-video__call-controls__button {
  height: 40px;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

/* ==== clerk class override ===== */

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}

.cl-logoBox {
  height: 40px;
}
.cl-dividerLine {
  background: #252a41;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 3px solid #565761;
}

.cl-internal-wkkub3 {
  color: white;
}
.cl-userButtonPopoverActionButton {
  color: white;
}

/* =============================== */

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

/* animation */

.show-block {
  width: 100%;
  max-width: 350px;
  display: block;
  animation: show 0.7s forwards linear;
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
}


/* Navbar Top */
.nav_top{
  @apply !backdrop-blur-lg rounded-xl mt-4 px-4 py-2 lg:px-5 overflow-hidden nav_top_bg;
}

.nav_top_bg {
  box-shadow: inset 0 4px 6px #d3def887,
  inset 0 -6px 6px #255ade58;
  background: linear-gradient(145deg, #0b1b437e, #00000076);
}


/* Sidebar */
.sidebar_left{
  @apply !backdrop-blur-lg pt-10 rounded-r-3xl py-6 px-3 overflow-hidden sidebar_bg;
}

.sidebar_bg {
  box-shadow:  0 2px 5px #d3def85d inset;
  background: linear-gradient(145deg, #07122c82, #000000cd);
}

.cover_image{
  @apply !backdrop-blur-lg bg-opacity-15  rounded-3xl overflow-hidden sidebar_bg;
  box-shadow: inset 0 6px 8px #255ade58, 
  inset 0 -2px 4px #d3def887;
  background: linear-gradient(145deg, #031641, #d3def857);
}

.btn_primary_class{
  box-shadow: inset 0 2px 3px #517ae5,
  inset 0 -1px 1px #0f2459;
  background: linear-gradient(145deg, #a8bdf2, #d3def8);
}

.home_card_class{
  @apply !backdrop-blur-lg pt-10 bg-opacity-15 rounded-xl p-4 overflow-hidden home_card_bg;
}
.home_card_bg{
  box-shadow: inset 0 7px 9px #255ade58,
  inset 0 -2px 10px #d3def887; 
  background: linear-gradient(145deg, #d3def82d, #000c27c4);
}

.meeting_model{
  @apply !backdrop-blur-lg bg-opacity-15 rounded-xl  overflow-hidden;
  box-shadow: inset 0 4px 9px #d3def887,
  inset 0 -6px 10px #255ade58;
  background: linear-gradient(145deg, #d3def82d, #000c2770);
}


.blue_btn{
  @apply text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-1 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-md text-sm px-5 py-2.5 text-center me-2 mb-2;
}




/* Custom scrollbar for the entire application */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #1f2937; /* Dark background for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #374151; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #1f2937; /* Space between thumb and track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2563eb; /* Change color on hover */
}

/* For horizontal scrollbar, if needed */
::-webkit-scrollbar-horizontal {
  height: 8px;
}

body {
  scrollbar-color: #374151 #1f2937; /* Thumb and track colors for non-webkit browsers */
  scrollbar-width: thin; /* Thin scrollbar for non-webkit browsers */
}
